@mixin heading-font($min-size, $normal, $max-size) {
  font: {
    family: $font-secondary;
    size: clamp($min-size, $normal, $max-size);
    weight: 900;
  }
}

@mixin flex($ai: flex-start, $jc: flex-start, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

@mixin cfp($color, $fsz, $padding) {
  color: $color;
  font-size: $fsz;
  padding-bottom: $padding;
}
